@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-VariableFont_wght.ttf");
  font-style: normal;
  font-display: swap;
}

:root {
  --primary-color: #b81515;
  --secondary-color: #8f0101;

  --background-primary-color: #ffffff;
  --background-secondary-color: #f5f5f5;
  --background-tertiary-color: #000000;

  --text-primary-color: #222222;
  --text-secondary-color: #ffffff;

  --menu-font-weight: 500;
  --text-font-weight: 400;
  --title-font-weight: 700;
}

/* Reset simples */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
